name: flip_card
description: A package for flip card animation.
version: 0.2.0
author: fedeoo <fedeoo.zf@gmail.com>
homepage: https://github.com/fedeoo/flip_card/

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
